![banner](./assets/banner.svg)

# {{ project_name | title }}

{{ project_description }}

---

Made with ❤ by {{ project_author }}

[![Buy us a coffee](https://img.shields.io/badge/SnapScan-buy%20us%20a%20coffee%20☕-407cc5?style=flat-square)](https://pos.snapscan.io/qr/Ew6rBAsV)
