# ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~
#
# Author: {{ project_author }}
#
# ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~


import streamlit as st
from utils.umami import load_umami

load_umami()


st.set_page_config(
    page_title=f"{{ project_name }}",
    layout="wide",
    initial_sidebar_state="expanded",
)


st.logo(
    "static/streamlit.png",
    icon_image="static/datatreehouse.circle.png",
    size="large",
    link="https://datatreehouse.org",
)


st.title(f"Welcome to {{ project_name }}")


st.sidebar.markdown("[![buy-us-a-coffee](./app/static/buy-us-a-coffee.png)](https://pos.snapscan.io/qr/Ew6rBAsV)")
